.skills-container {
	background: #fff;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	width: 100%;
}
.skills-header {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 30px;
	color: #333;
}

.skill-set {
	margin: 0 auto;
}

.skill-category {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 15px;
}

.skills-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.skill {
	display: flex;
	align-items: center;
	padding: 5px 15px;
}

.skill-icon {
	margin-right: 10px;
}

.skill-name {
	font-size: 1rem;
	color: #555;
}
